.Polaris-Custom {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 700;
    position: relative;
  }
  .Polaris-Custom .Polaris-ButtonGroup {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  